/* NavBar Styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 3px solid black;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar-item {
  padding: 0 2em;
}

.navbar-link {
  text-decoration: none;
  color: #000000;
  font-size: 1em;
  padding-bottom: 5px;
  transition: color 0.3s, border-bottom 0.3s;
}

.navbar-link:hover {
  color: #555555;
  border-bottom: 2px solid #000000;
}

/* DashboardMenu Styles */
.dashboard-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.dashboard-menu h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.dashboard-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard-menu-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  font-size: 1em;
  color: #333;
}

.dashboard-menu-item:hover {
  background-color: #e6e6e6;
  transform: translateY(-2px);
}


/* ReleaseCard Styles */
.release-card {
  width: 200px;
  text-align: center;
}

.release-cover {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.release-title {
  font-size: 1.2em;
  margin-top: 10px;
  color: #333;
}

.release-date {
  font-size: 0.9em;
  color: #666;
}

.card-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

.card-button:hover {
  background-color: white;
  color: black;
}
